#left_frame{
    scrolling:no;
    width:140px;
    height:calc(100% - 120px);
    position:fixed;
    top:100px;
    margin-left:-8px;
}

#right_frame{
    scrolling:yes;
    width: calc(100%+ 140px);
    height:calc(100% - 120px);
    min-width:calc(100% - 147px);
    border-right:solid 1px #057748;
    position:fixed;
    top:100px;
    margin-left:140px;
}

#logo{
    font-size:40px;
    float:left;
    margin-left:5px;
    margin-top:5px;
    color:#FFFFFF;
}

.header{
    width: 100%;
    min-width: 1280px;
    height:100px;
    position:fixed;top:0;left:0;
    background-image:url('cssimg/banner.jpg');
    z-index:1;
}
.footer{
    z-index:9999;
    height:24px;
    line-height:24px;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    text-align:center;
    font-size:12px;
    color:white;
    text-shadow:0 -1px 1px gray;
    background:#057748;
}
.info{
    float:left;
    margin-left:5px;
}
.copyright{
    float:right;
    margin-right:5px;
}